@page "/"
@inject ShareDataToBlazorService ShareDataToBlazorService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Fluent Blazor app.

<p>@ShareDataToBlazorService.SharedData</p>

@code {
     
    protected override void OnInitialized()
    {
        // You can access DataService.SharedData here if needed
        // and handle any logic based on the data
    }
}